.Scheme {
  $times: 3;

  display: flex;
  flex-flow: row wrap;
  width: calc(100% / #{$times});

  &Figure {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  &FigCaption {
    position: absolute;
    top: 115px;
    left: 80px;

    font-size: 30px;
    line-height: 1;
    color: #fff;
  }

  &Figure {
    display: flex;
    margin: 0;
    padding: 0;
  }

  &FigCaption {
    display: flex;
  }
}
